@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Mono&family=Rubik+Doodle+Shadow&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto Mono;
}

html {
    background-color: white;
}

html body {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #57295b;
    color: #edba20;
    text-align: center;
}

.big_logo {
    height: 10em;
    width: auto;
    margin: 10px;
}

.small_logo {
    height: 2em;
    width: auto;
    margin: 10px;
}

footer .small_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main_title {
    font-size: 3em;
    color: #edba20;
    font-family: Rubik Doodle Shadow;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #edba20;
}

li {
    display: inline-block;
    text-align: center;
    margin: 5px;
}

li a {
    text-decoration: none;
    display: block;
    padding: 6px;
    text-align: center;
    color: #57295b;
    font-size: 1.5em;
}

li a:hover {
    background-color: #57295b;
    color: #edba20;
}

.active {
    background-color: #c59c23;
}

#container {
    margin: 30px;
    text-align: center;
}

#container p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#container img {
    height: auto;
    width: 300px;
}

.temp_photo {
    padding: 70px;
    border: 5px solid #57295b;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 500px;
    background-color: #edba20;
}

#index_table {
    width: 35%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #57295b;
    padding: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}

.grid-item {
    background-color: #edba20;
    border: 1px solid #c59c23;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 20px;
}

.grid-item img {
    height: auto;
    max-width: 100%;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #57295b;
    color: #edba20;
}

.social_text {
    color: #edba20;
    margin: 10px;
}

.social_text:hover {
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    background: #57295b;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #b6552b;
    color: white;
}